@font-face {
    font-family: 'wastedregular';
    src: url('../fonts/wasted.eot');
    src: url('../fonts/wasted.eot?#iefix') format('embedded-opentype'),
         url('../fonts/wasted.woff2') format('woff2'),
         url('../fonts/wasted.woff') format('woff'),
         url('../fonts/wasted.ttf') format('truetype'),
         url('../fonts/wasted.svg#wastedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'special_eliteregular';
    src: url('../fonts/specialelite.eot');
    src: url('../fonts/specialelite.eot?#iefix') format('embedded-opentype'),
         url('../fonts/specialelite.woff2') format('woff2'),
         url('../fonts/specialelite.woff') format('woff'),
         url('../fonts/specialelite.ttf') format('truetype'),
         url('../fonts/specialelite.svg#special_eliteregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	padding-top: 70px;
	background: url('../img/bg.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
	font-family: special_eliteregular;
	text-shadow: 2px 2px 4px #000000;
	font-size: 2em;
}

#brand {
	height: 50px;
}

#instafeed .likes {
	background:rgba(163,219,219,0.8);
	font-family:sans-serif;
	font-size:1em;
	position:absolute;
	color:#ffffff;
	right:20px;
	top:5px;
	left:20px;
	opacity:0;
	text-align:center;
	line-height: 340px;
	text-shadow:0 1px rgba(0,0,0,0.5);
	-webkit-font-smoothing:antialiased;
	-webkit-transition: opacity 100ms ease;
	-moz-transition: opacity 100ms ease;
	-o-transition: opacity 100ms ease;
	-ms-transition: opacity 100ms ease;
	transition: opacity 100ms ease;
}

#instafeed a:hover .likes {
  opacity:1;
}

#maxfeed .likes {
	background:rgba(163,219,219,0.8);
	font-family:sans-serif;
	font-size:1em;
	position:absolute;
	color:#ffffff;
	right:20px;
	top:5px;
	left:20px;
	opacity:0;
	text-align:center;
	line-height: 340px;
	text-shadow:0 1px rgba(0,0,0,0.5);
	-webkit-font-smoothing:antialiased;
	-webkit-transition: opacity 100ms ease;
	-moz-transition: opacity 100ms ease;
	-o-transition: opacity 100ms ease;
	-ms-transition: opacity 100ms ease;
	transition: opacity 100ms ease;
}

#maxfeed a:hover .likes {
  opacity:1;
}

#jordinfeed .likes {
	background:rgba(163,219,219,0.8);
	font-family:sans-serif;
	font-size:1em;
	position:absolute;
	color:#ffffff;
	right:20px;
	top:5px;
	left:20px;
	opacity:0;
	text-align:center;
	line-height: 340px;
	text-shadow:0 1px rgba(0,0,0,0.5);
	-webkit-font-smoothing:antialiased;
	-webkit-transition: opacity 100ms ease;
	-moz-transition: opacity 100ms ease;
	-o-transition: opacity 100ms ease;
	-ms-transition: opacity 100ms ease;
	transition: opacity 100ms ease;
}

#jordinfeed a:hover .likes {
  opacity:1;
}

#ryanfeed .likes {
	background:rgba(163,219,219,0.8);
	font-family:sans-serif;
	font-size:1em;
	position:absolute;
	color:#ffffff;
	right:20px;
	top:5px;
	left:20px;
	opacity:0;
	text-align:center;
	line-height: 340px;
	text-shadow:0 1px rgba(0,0,0,0.5);
	-webkit-font-smoothing:antialiased;
	-webkit-transition: opacity 100ms ease;
	-moz-transition: opacity 100ms ease;
	-o-transition: opacity 100ms ease;
	-ms-transition: opacity 100ms ease;
	transition: opacity 100ms ease;
}

#ryanfeed a:hover .likes {
  opacity:1;
}

h1 {
	font-family: wastedregular;
	color: #fff;
	text-shadow: 2px 2px 4px #000000;
}

#instaImg {
	box-shadow: 2px 2px 4px #000000;
}

#load-more {
	box-shadow: 2px 2px 4px #000000;
}

#mainNav {
	text-shadow: none;
}

#mainBio a {
	color: white;
}

#maxBio a {
	color: white;
}

#social img {
	display: inline;
	height: 50px;
	box-shadow: 2px 2px 4px #000000;
}

#mainBio span {
	background-color: rgba(50,48,48,.6);
}

#maxBio span {
	background-color: rgba(50,48,48,.6);
}

#ryanBio span {
	background-color: rgba(50,48,48,.6);
}

#jordinBio span {
	background-color: rgba(50,48,48,.6);
}

/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1.5s;
    -moz-animation-duration:1.5s;
    animation-duration:1.5s;
}
